<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Multiviews
    RewriteEngine On

    # 如果请求的是实际存在的文件或目录，则直接访问
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # 所有其他请求都重写为 index.php 入口文件
    RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
</IfModule>
