<ul style="list-style:none; padding: 20px;">
    <li><a href="main.html" onclick="loadPage('main.html')" style="color:white; display:block; padding:10px;">首页概览</a></li>
    <li><a href="/client" onclick="loadPage('/client')" style="color:white; display:block; padding:10px;">客户管理</a></li>
    <li><a href="/product" onclick="loadPage('/product')" style="color:white; display:block; padding:10px;">产品管理</a></li>
    <li><a href="/quotation" onclick="loadPage('/quotation')" style="color:white; display:block; padding:10px;">报价记录</a></li>
</ul>
