<ul style="list-style:none; padding: 20px;">
    <li><a href="{:url('index/main')}" target="mainFrame" style="color:white; display:block; padding:10px;">首页概览</a></li>
    <li><a href="{:url('client/index')}" target="mainFrame" style="color:white; display:block; padding:10px;">客户管理</a></li>
    <li><a href="{:url('product/index')}" target="mainFrame" style="color:white; display:block; padding:10px;">产品管理</a></li>
    <li><a href="{:url('quotation/index')}" target="mainFrame" style="color:white; display:block; padding:10px;">报价记录</a></li>
</ul>
